<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>six</title>
    <style type="text/css">
        body {
            background-color: burlywood;

        }

        * {
            margin: 0px;
        }

        #f1 {
            font-size: 50px;
            background-color: yellow;
        }

        .test {
            background-color: aqua;
            font-size: 14px;
        }

        .repl {
            background-color: red;
            font-size: 14px;
        }

    </style>
    <script type="text/javascript" src="../static/js/in.js" th:src="@{/js/in.js}"></script>

    <script type="text/javascript">
        // window.onload = function() {
        // var btn = document.getElementsByTagName("input")[0];
        // //console.log(btn)
        //     btn.onclick = function () {
        //         console.log("1123");
        //     }
        // }
        $(function () {
            //f1.style.backgroundColor="red"
            //  $ByID(f1).style.backgroundColor="red";
            // $ByID("f1").style.backgroundColor="black";
            var a = [0];
            // var m=new Map([["A",1],["B",2]])
            // console.log(m.get("B"))
            console.log(a)
            // console.log ($ByClassName("test",a)[0]);
            // console.log($ByClassName("test","1"))
            // console.log(to(1,50,2))
            //  console.log(toNumberofitem(2,15,2))
            // setcssbyobject($ByTagName("input", a)[0],"backgroundColor","red");
            // console.log(getComputedStyle((document.getElementsByName("t")[0]))["fontSize"])
            // console.log($ByName("t",a)[0])

        })

        //console.log($(f1));

        //setcssbyobject(f1,"margin","130px");
    </script>

</head>
<body>

<input name="t" id="f1" type="button" value="click">
<input class="test" type="button" value="0">
<input class="test" type="button" value="1">
<input class="test" type="button" value="2">
<input class="test" type="button" value="3">
<input class="test" type="button" value="4">
<input class="test" type="button" value="5">
<input class="test" type="button" value="6">
<script>

    // var t=document.getElementsByClassName("test")[0];
    // t.className="repl";
    // t.id="ABC"
    // console.log(getcssbyobject(f1,"margin"))
    // setcssbyobject(f1,"margin","30px");
    // setcssbyobject(document.getElementsByClassName('repl')[0],"fontSize","70px");
    // console.log(getcssbyobject(f1,"a"));
    // console.log(t)
</script>
</body>


</html>