<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <style type="text/css">
        * {
            margin: 0px;
        }

        body {
            background-color: burlywood
        }

        .table {
            width: 300px;
            height: 300px;
            border: coral solid 1px;
        }

        .ahua {
            background-color: yellow;
        }
    </style>
    <!--<script type="text/javascript" src="../static/js/in.js"></script>-->
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/js/ahua_core.js"></script>
    <script type="text/javascript">

        window.onload = function () {
            var times = 0;
            document.body.getElementsByTagName("table").p()
            $("input")[2].$OnClick(function () {
                console.log($("table")[0])

                if (times > 0) {
                    $("table").empty();
                }
                times = times + 1;
                var row = $("input")[0].value;
                var col = $("input")[1].value;
                var trrow = document.createElement("tr");
                var trroww = trrow.cloneNode();
                var tdcol = document.createElement("td");
                for (var j = 0; j < row; j++) {
                    var add = trroww.cloneNode(true);
                    $("#contain")[0].appendChild(add);

                    for (var i = 0; i < col; i++) {
                        var t = tdcol.cloneNode();
                        t.setAttribute("col", i);
                        console.log(t);
                        t.innerText = "第" + j + "列" + "第" + i + "欄";
                        $("tr")[j].appendChild(t);
                    }
                }

            }), false
        }

    </script>
</head>
<body>
生成<input type="text" id="row">列
生成<input type="text" id="col">行
<input type="button" id="btn" value="生成" class="ahua"></br>
<table id="contain"></table>
</body>
</html>